{% extends 'base.html.twig' %}

{% block stylesheets %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <!--Favicon -->
    <link rel="icon" type="image/png" href="images/favicon.png" />

    <!-- CSS Files -->


    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/animate.min.css" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/owl.carousel.css" />
    <link rel="stylesheet" href="css/socials.css" />
    <link rel="stylesheet" href="css/player/YTPlayer.css" />
    <link rel="stylesheet" href="css/magnific-popup.css" />
    <link rel="stylesheet" href="css/prettyPhoto.css" />
    <link rel="stylesheet" href="css/revslider.css" />
    <link rel="stylesheet" href="css/settings.css" />
    <!-- Page Styles -->
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/responsive.css" />
    <!-- End Page Styles -->

    <!-- Page Layout Color, night or dark -->
    <link id="changeable_tone" rel="stylesheet" href="css/dark.css" />
    <!-- End Page Layout Color -->

    <!-- Page Elements Color -->
    <link id="changeable_color" rel="stylesheet" href="css/colors/red.css" />
    <!-- End Page Elements Color -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>
        .modal-style{
            display: none;
            position: fixed;
            z-index: 1;
            padding-top: 100px;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgb(0,0,0);
            background-color: rgba(0,0,0,0.4);
        }
        .modal-content {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 30%;
        }
        .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        .inner{
            padding-top: 20px;
        }
        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        .dropdown-toggle::after ,.nav-toggle{
            display: none;
        }
        .nav {
            color: white;
        }
        .div{
            background-color: steelblue;
        }
        .form{
            background-color: steelblue;
            color: white;
            width:100%;
            height: auto;
            padding:15px 15px 12px;
            font-size:18px;
            margin-bottom:18px;
            letter-spacing: 0.5px;
            border: none;
        }
    </style>
{% endblock %}



{% block body %}

    <nav id="navigation-sticky" class="first-nav dark-nav">
        <!-- Navigation Inner -->
        <div class="nav-inner">
            <div class="logo">
                <!-- Navigation Logo Link -->
                <a href="{{ path('home', {locale: locale, cartId: cart.id}) }}" class="scroll">
                    <!-- Your Logo -->
                    <img src="{{ asset('uploads/logo.png') | imagine_filter('logo') }}" class="site_logo" alt="North Logo"/>
                </a>
            </div>
            <!-- Mobile Menu Button -->
            <a class="mobile-nav-button colored"><i class="fa fa-bars"></i></a>
            <!-- Navigation Menu -->
            <div class="nav-menu clearfix semibold">
                <ul class="nav uppercase oswald">
                    <li><a href="{{ path('home', {locale: locale, cartId: cart.id}) }}" class="scroll">{{ homeTitle }}</a></li>
                    <li class="dropdown-toggle nav-toggle" ><a href="{{ path('home', {locale: locale, cartId: cart.id}) }}" class="scroll">{{ reviewTitle }}<b data-toggle="dropdown"></b></a>
                        <!-- DropDown Menu -->
                        <ul class="dropdown-menu uppercase gray-border clearfix" style="color: white">
                            <li><a href="{{ path('home', {locale: locale, cartId: cart.id}) }}" class="scroll">{{ designTitle }}</a></li>
                            <li><a href="{{ path('home', {locale: locale, cartId: cart.id}) }}" class="scroll">{{ photographyTitle }}</a></li>
                            <li><a href="{{ path('home', {locale: locale, cartId: cart.id}) }}" class="scroll">{{ videographyTitle }}</a></li>
                            <li><a href="{{ path('home', {locale: locale, cartId: cart.id}) }}" class="scroll">{{ batteryTitle }}</a></li>
                        </ul>
                        <!-- End DropDown Menu -->
                    </li>
                    <li><a href="{{ path('home', {locale: locale, cartId: cart.id}) }}" class="scroll">{{ galleryTitle }}</a></li>
                    <li><a href="{{ path('home', {locale: locale, cartId: cart.id}) }}" class="scroll">{{ productTitle }}</a></li>
                    <li><a href="{{ path('home', {locale: locale, cartId: cart.id}) }}" class="scroll">{{ commentTitle }}</a></li>
                    <li><a href="{{ path('home', {locale: locale, cartId: cart.id}) }}" class="scroll">{{ contactTitle }}</a></li>
                    <li><a href="{{ path("cart", {cartId: cart.id, locale: locale}) }}" class="scroll"><i class="bi bi-cart-plus-fill"></i></a></li>
                    <li class="dropdown-toggle nav-toggle" ><a class="scroll">{{ languageTitle }}<b data-toggle="dropdown"></b></a>
                        <!-- DropDown Menu -->
                        {# show from database language #}
                        <ul class="dropdown-menu uppercase gray-border clearfix" style="color: white">
                            {% for language in languages %}
                                <li>
                                    <a href="{{ path('cart', {cartId: cart.id, locale: language.locale}) }}">
                                        <img  src="{{ asset(language.photo)| imagine_filter('language') }}" alt=""/>
                                        {{ language.language }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                        <!-- End DropDown Menu -->
                    </li>
                </ul>
            </div><!-- End Navigation Menu -->
        </div><!-- End Navigation Inner -->
    </nav><!-- End Navigation -->

        <div class="inner">
        <form class="col-12" method="post" action="{{ path('send_cart', {cartId: cart.id, locale: locale}) }}">
            <div class="card div">
                <div class="card-header">
                    <h3 class="card-title text-italic">Cart</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0">
                    <table class="table table-hover text-nowrap">
                        <thead>
                            <tr>
                                <th>Photo</th>
                                <th>Name</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                <th>Edit Quantity</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for item in cartItems %}
                            {% if item.main is not null %}
                                <tr>
                                    <td>
                                        <img src="{{ asset(item.main.photo) | imagine_filter('product') }}" alt="">
                                    </td>
                                    <td>{{ item.main.name }}</td>
                                    <td>{{ item.quantity }}</td>
                                    <td>{{ item.main.price }}</td>
                                    <td>
                                        <a class="btn btn-warning"
                                           onclick="showEditModal({{ item.id }})" >
                                            <span class="bi bi-pencil"></span>
                                        </a>
                                    </td>
                                    <td>
                                        <a class="btn btn-danger" onclick="return confirm('Are you sure?')"
                                           href="{{ path('cartItem_delete', {cartId: cart.id ,cartItemId: item.id, locale: locale}) }}">
                                            <span class="bi bi-trash-fill"></span>
                                        </a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    {% for photo in photos %}
                                        {% if photo.article.id == item.articleTrans.article.id %}
                                            <td>
                                                <img src="{{ (asset('uploads/article/') ~ photo.file) | imagine_filter('product') }}" alt="">
                                            </td>
                                        {% endif %}
                                    {% endfor %}
                                    <td>{{ item.articleTrans.name }}</td>
                                    <td>{{ item.quantity }}</td>
                                    <td>{{ item.articleTrans.article.price }}</td>
                                    <td>
                                        <a class="btn btn-warning"
                                           onclick="showEditModal({{ item.id }})" >
                                            <span class="bi bi-pencil"></span>
                                        </a>
                                    </td>
                                    <td>
                                        <a class="btn btn-danger" onclick="return confirm('Are you sure?')"
                                           href="{{ path('cartItem_delete', {cartId: cart.id ,cartItemId: item.id, locale: locale}) }}">
                                            <span class="bi bi-trash-fill"></span>
                                        </a>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                    <hr>
                    <div class="col-4" style="float: right">
                        <h4 style="float: right">{{ allPrice }} EURO</h4>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-6">
                    <label class="control-label">Full Name</label>
                    <input type="text" class="form" name="name" required>
                </div>
                <div class="col-6">
                    <label class="control-label">Address</label>
                    <input type="text" class="form" name="address" required>
                </div>
                <div class="col">
                    <input type="submit" class="form" value="Submit">
                </div>
            </div>
        </form>
    </div>

    <div id="modal" class="modal-style">
        <div class="modal-content">
            <form id="modal-form" class="container" style="text-align: center">
                <span class="close" onclick="closeEditModal()">&times;</span>
                <label >Insert quantity witch you want:</label>
                <input type="number" min="1" id="quantity" name="quantity" class="form" required>
                <input type="submit" class="form" value="Submit">
            </form>
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    <script>
        var queryString = window.location.search;
        var urlParam = new URLSearchParams(queryString);
        var cartId = urlParam.get('cartId');
        var locale = urlParam.get('locale');
        var modal = document.getElementById('modal');
        var cartItemId = 0;
        var quantity = 0;

        function showEditModal(Id) {
            cartItemId = Id;
            modal.style.display = 'block';
        }

        function closeEditModal() {
            modal.style.display = 'none';
        }

        window.onclick = function(event) {
            if (event.target === modal) {
                closeEditModal();
            }
        }

        $("#modal-form").submit(function (event) {
            event.preventDefault();
            quantity = $("#quantity").val();
            window.location = "{{ path('cart_edit_quantity') }}"
                + "/?cartId=" + cartId
                + "&locale=" + locale
                + "&cartItemId=" + cartItemId
                + "&quantity=" + quantity;
        })
    </script>
    <script type="text/javascript" src="js/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery.appear.js"></script>
    <script type="text/javascript" src="js/waypoints.min.js"></script>
    <script type="text/javascript" src="js/modernizr-latest.js"></script>
    <script type="text/javascript" src="js/SmoothScroll.js"></script>
    <script type="text/javascript" src="js/jquery.superslides.js"></script>
    <script type="text/javascript" src="js/jquery.isotope.js"></script>
    <script type="text/javascript" src="js/jquery.parallax-1.1.3.js"></script>
    <script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="js/jquery.fitvids.js"></script>
    <script type="text/javascript" src="js/jquery.flexslider.js"></script>
    <script type="text/javascript" src="js/owl.carousel.js"></script>
    <script type="text/javascript" src="js/jquery.mb.YTPlayer.js"></script>
    <script type="text/javascript" src="js/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="js/plugins.js"></script>
    <script type="text/javascript" src="js/jquery.sticky.js"></script>
    <!-- Theme Panel -->

    <!-- End JS Files -->
    <!-- Layer Slider -->
    <script type="text/javascript" src="js/revslider/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="js/revslider/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="js/revslider/revslider.js"></script>
    <!-- End Layer Slider -->
{% endblock %}