{% extends "admin/base.html.twig" %}

{% block stylesheets %}
    <style>
        /*.container {*/
        /*    text-align: center;*/
        /*}*/
        .text-italic{
            font-family: "Engravers MT";
            font-style: italic;
        }
    </style>
{% endblock %}
{% block body %}
<form action="{{ path("user_edit") }}" method="post">
    <div class="container jumbotron">
        <div class="row">
            <div class="card-body">
                <div class="row" style="text-align: center">
                    <div class="form-group col">
                        <h2 class="text-italic">Information for "{{ user.name }}": </h2>
                    </div>
                </div>
                <div class="row" >
                    <div class="form-group col">
                        <label for="exampleInputEmail1">Username</label>
                        <input type="text" class="form-control" name="name" placeholder="Enter Username" value="{{ user.name }}">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" name="email" placeholder="Enter email" value="{{ user.email }}" >
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col">
                        <label for="exampleInputEmail1">First Name</label>
                        <input type="text" class="form-control" name="firstName" placeholder="Enter First Name" value="{{ user.firstName }}">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col">
                        <label for="exampleInputEmail1">Family Name</label>
                        <input type="text" class="form-control" name="lastName" placeholder="Enter Family Name" value="{{ user.lastName }}" >
                    </div>
                </div>
                <input type="hidden" class="form-control" name="id" value="{{ user.id }}">
            </div>

        </div>
        <div class="card-footer" style="text-align: center">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>








{% endblock %}