{% extends "admin/base.html.twig" %}

{% block stylesheets %}
    <style>
        /*.container {*/
        /*    text-align: center;*/
        /*}*/
        .text-italic{
            font-family: "Engravers MT";
            font-style: italic;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="row jumbotron">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title text-italic">{{ comment.name }}</h3>
                    <a href="{{ path("article_comment_translation_createEdit", {commentId: comment.id}) }}"
                       class="btn btn-primary"
                       style="float: right; color: white">
                        <i class="fa fa-plus"></i> Create
                    </a>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0">
                    <table class="table table-hover text-nowrap">
                        <thead>
                        <tr>
                            <th>Language</th>
                            <th>Comment</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for commentTra in commentTrans %}
                            <tr>
                                <td>{{ commentTra.language.language }}</td>
                                <td>{{ commentTra.commentTrans }}</td>
                                <td>
                                    <a class="btn btn-info"
                                       href="{{ path("article_comment_translation_createEdit", {
                                           commentId: comment.id,
                                           commentTransId: commentTra.id
                                       }) }}">Edit
                                    </a>
                                </td>
                                <td>
                                    <a class="btn btn-danger"
                                       href="{{ path('article_comment_translation_delete', {
                                           commentId: comment.id,
                                           commentTransId: commentTra.id
                                       }) }}"
                                       onclick="return confirm('Are you sure?')">Delete
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}