{% extends "admin/base.html.twig" %}

{% block stylesheets %}
    <style>
        /*.container {*/
        /*    text-align: center;*/
        /*}*/
        .text-italic{
            font-family: "Engravers MT";
            font-style: italic;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="row jumbotron">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title text-italic">{{ article.slug }}</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0">
                    <table class="table table-hover text-nowrap">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Rating</th>
                            <th>Translates</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for comment in comments %}
                            <tr>
                                <td>{{ comment.name }}</td>
                                <td>{{ comment.rating }}</td>
                                <td>
                                    <a class="btn btn-info"
                                       href="{{ path('article_comment_translation_list', {
                                           commentId: comment.id
                                       }) }}">Translates
                                    </a>
                                </td>
                                <td>
                                    <a class="btn btn-info"
                                       href="{{ path('article_comment_edit',
                                           {articleId: article.id ,commentId: comment.id}) }}">Edit
                                    </a>
                                </td>
                                <td>
                                    <a class="btn btn-danger"
                                       href="{{ path('article_comment_delete', {
                                           articleId: article.id,
                                           commentId: comment.id
                                       }) }}"
                                       onclick="return confirm('Are you sure?')">Delete
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}