{% extends "admin/base.html.twig" %}

{% block stylesheets %}
    <style>
        .text-italic{
            font-family: "Engravers MT";
            font-style: italic;
        }
    </style>
{% endblock %}

{% block body %}

    {{ form_start(form) }}
        <div class="container jumbotron">
            <div class="row">
                <div class="card-body">
                    <div class="row" style="text-align: center">
                        <div class="form-group col">
                            <h2 class="text-italic">Create Article</h2>
                        </div>
                    </div>
                    <div style="padding-bottom: 5px">
                        {{ form_row(form.language) }}
                    </div>

                    <div class="row" >
                        <div class="form-group col-6">
                            <label for="exampleInputEmail1">Slug</label>
                            <input type="text" class="form-control" name="slug" placeholder="Enter Slug">
                        </div>
                        <div class="form-group col-6">
                            {{ form_row(form.name, {'attr': {'class': 'form-control',
                                'placeholder': 'Insert name ...'}}) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col">
                            {{ form_row(form.small_description, {'attr': {'class': 'form-control',
                                'placeholder': 'Insert small_description ...'}}) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col">
                            {{ form_row(form.description, {'attr': {'class': 'form-control',
                                'placeholder': 'Insert description ...'}}) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-6">
                            <label for="exampleInputEmail1">Quantity</label>
                            <input type="number" class="form-control" name="quantity" placeholder="Enter Quantity">
                        </div>
                        <div class="form-group col-6">
                            <label for="exampleInputEmail1">Price</label>
                            <input type="number" class="form-control" name="price" placeholder="Enter Price">
                        </div>
                    </div>

                </div>

            </div>
            <div class="card-footer" style="text-align: center">
                {{ form_row(form.submit) }}
            </div>
        </div>
    {{ form_end(form) }}
{#    </form>#}
{#    <form  action="{{ path("article_create") }}" method="post">#}
{#        <div class="container jumbotron">#}
{#            <div class="row">#}
{#                <div class="card-body">#}
{#                    <div class="row" style="text-align: center">#}
{#                        <div class="form-group col">#}
{#                            <h2 class="text-italic">Create Article</h2>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="row" >#}
{#                        <div class="form-group col-6">#}
{#                            <label for="exampleInputEmail1">Slug</label>#}
{#                            <input type="text" class="form-control" name="slug" placeholder="Enter Slug">#}
{#                        </div>#}
{#                        <div class="form-group col-6">#}
{#                            <label for="exampleInputEmail1">Name</label>#}
{#                            <input type="text" class="form-control" name="name" placeholder="Enter Name">#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="row">#}
{#                        <div class="form-group col">#}
{#                            <label for="exampleInputEmail1">Small Description</label>#}
{#                            <input type="text" class="form-control" name="small_description" placeholder="Enter Small Description">#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="row">#}
{#                        <div class="form-group col">#}
{#                            <label for="exampleInputEmail1">Description</label>#}
{#                            <input type="text" class="form-control" name="description" placeholder="Enter Description">#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="row">#}
{#                        <div class="form-group col-6">#}
{#                            <label for="exampleInputEmail1">Quantity</label>#}
{#                            <input type="number" class="form-control" name="quantity" placeholder="Enter Quantity">#}
{#                        </div>#}
{#                        <div class="form-group col-6">#}
{#                            <label for="exampleInputEmail1">Price</label>#}
{#                            <input type="number" class="form-control" name="price" placeholder="Enter Price">#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="row">#}
{#                        <div class="form-group col-6">#}
{#                            <label class="form-label" for="customFile">Photo</label>#}
{#                            <input type="file" class="form-control" name="photo" >#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}

{#            </div>#}
{#            <div class="card-footer" style="text-align: center">#}
{#                <button type="submit" class="btn btn-primary">Submit</button>#}
{#            </div>#}
{#        </div>#}
{#    </form>#}
{% endblock %}